
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: transparent;
}

p, li {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%
}

input, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.jumbotron { 
  height: 500px;
  color: #fff;
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}


.jumbotron h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 80px;
}

.jumbotron h2 {
  color: #F70707;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

.jumbotron .container {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 50px;
}

.section {
  width: 100%;
  margin-left: 0;
  padding-bottom: 40px;
  padding-top: 40px;
}

#main h1 {
  color: #F70707;
  font-family: 'Playfair Display', serif;
  line-height: 3.0;
  text-align: center;
}

.company .glyphicon {
  font-size: 44px;
  color: #F70707;
}

.company li {
  margin: 4em 0;
  text-align: center;
}


#services, #rates {
  background-color: #EEEEEE;
}

.inner_content {
  width: 60%;
  margin: auto;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar {
  margin-bottom: 0;
  z-index: 9999;
}

.side_menu_container{
  position: relative;
}

.invisible_side_menu_fixed {
  width: 160px;
  height: 150px;
  background: transparent;
  position: fixed;
  right: 0px;
  top: 35%;
}

.invisible_side_menu_static {
  width: 160px;
  height: 150px;
  background: transparent;
  position: absolute;
  right: 0px;
  top: 9%;
}

.side_menu {
  background-color: #F70707;
  width: 160px;
  border-radius: 0;
  position: absolute;
  right: 0px;
  top: 9%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
}

.side_menu a {
  color: white;
  font-size: 16px;
}

.side_menu li {
  padding: 5px;
}

.side_menu a:hover {
  font-weight: bold;
  background-color: none;
  text-decoration: none;
}

.side_menu .glyphicon {
  color: transparent;
  position: relative;
}

.fixed {
  position: fixed;
}

.side_menu_highlight {
  color: #fff !important;
}

.company-features h4 {
  font-family: 'Playfair Display';
  color: #F70707;
  margin: 1.5em 0;
}

.btn-red {
  background-color: #F70707;
  color: #fff;
}

.btn-red:hover  {
  background-color: #F70707;
  color: #fff;
}

.btn-red:active {
  background-color: #BD0C10;
  color: #fff;
}

.centered {
  margin: auto;
}

.footer {
  background-color: #000011;
  padding: 3em 1em;
}

.footer-right {
  text-align: right;
}

.footer .glyphicon {
  padding-right: 15px;
}

.copyright {
  text-align: center;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
}

.btn {
  border-radius: 0;
}

.lang-select {
  padding: 0 3px;
}
.lang-select:hover {
  font-weight: 400;
}

@media (max-width: 992px) { 

  .side_menu {
    display: none;
  }

  h1 {
    font-size: 26px;
  }

}

@media (max-width: 768px) {
  .footer-right {
    text-align: left;
  }
  .jumbotron {
    height: 300px;
  }
  .jumbotron h1 {
    font-size: 36px;
  }
  .jumbotron h2 {
    font-size: 26px;
  }
}
